:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400; */

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  /* font-synthesis: none;
  text-rendering: optimizeLegibility; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --nav-heigth: 64px;
  --color-bg-nav: rgb(15,3,3);
  
}

html{
  font-weight: normal;
  font-family: "Overpass", sans-serif;
}

/* a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
} */

/* body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
} */

/* button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
} */
/* button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */


/* nav {
  height: var(--nav-heigth);
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--color-bg-nav);

  line-height: 64px;
  color: #fff;
  width: 100%;
  box-sizing: inherit;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2);
} */

/* .logo {
  text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 1.1em !important;
    letter-spacing: 0.2em !important;
    position: absolute;
    /* padding-top: 11px !important; */
    /* margin-left: -15px !important;
    left: 2%;

  background-color: transparent;
  box-sizing: inherit;
  line-height: 64px;
  font-weight: normal;
} */ 

/* nav ul {
  position: absolute;
  right: 2%;
  padding-left: 0;
  list-style-type: none;
  margin: 0;
  box-sizing: inherit;
  line-height: 64px;
  color: #fff;
}

.navlinks {
  right: 10%;

  box-sizing: inherit;
  list-style-type: none;
  line-height: 64px;
  color: #fff;
}

/* .navlinks > li {
  padding: 12px 12px 12px 12px;
  display: inline-flex;
} */
/* .navlinks > li {
  transition: background-color .3s;
  float: left;
  padding: 0;
  box-sizing: inherit;
  list-style-type: none;
  line-height: 64px;
  color: #fff;
} */

/* nav a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-size: 0.92em !important; */
  /* letter-spacing: -0.01em; */
  /* padding-bottom: 4px !important;

  -webkit-transition: background-color .3s;
  transition: background-color .3s;
  display: block;
  padding: 0 15px;
  cursor: pointer;

  background-color: transparent;
  box-sizing: inherit;

  list-style-type: none;
  line-height: 64px;
}  */

/* nav a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-size: 0.75em;
} */

/* body{
  background: white;
} */




@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
