.merge_main_space {
    width:100%;
    height:100%;
    padding:2em;
}

.merge_main_pane {
    width:100%;
    height:100%;


    border-radius: 20px;
    border: inset red;
}

.split {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.gutter {
    background-color: #eee;
    background-repeat: no-repeat;
    background-position: 50%;
}

.gutter.gutter-horizontal {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
    cursor: col-resize;
}
