[[source]]

url = "https://pypi.python.org/simple"
name = "pypi"
verify_ssl = true


[packages]

Django = "*"
django-cors-headers = "*"
django-compressor = "*"
django-compressor-toolkit = "*"
asgiref = "==3.0"
channels_redis = "==2.4.0"
channels = "~=2.2"

[dev-packages]

