[[source]]

url = "https://pypi.python.org/simple"
name = "pypi"
verify_ssl = true


[packages]

django = "*"
django-cors-headers = "*"
django-compressor = "*"
django-compressor-toolkit = "*"
channels = "*"
channels-redis = "*"


[dev-packages]

