Django
django-cors-headers==3.10.1
django-eventstream==4.5.1
django-compressor
django-compressor-toolkit
asgiref
channels_redis
# channels==2.4.0
channels==3.0.5
django-filter==21.1
djangorestframework==3.14.0
Markdown==3.5.1

daphne

requests
bcrypt

Twisted[tls,http2]