.Glass{
    border: none;
    backdrop-filter: blur(5px) saturate(115%);
    background-color: rgba(98, 111, 123, 0.27);
    border-radius: 25px;

    outline: none;
    box-shadow: inset 3px 3px 5px rgba(255, 255, 255, 0.3), inset -3px -3px 5px rgba(255, 255, 255, 0.2), 8px 8px 10px rgba(2, 2, 2, 0.226);
}

.GlassButton{
    border: none;
    backdrop-filter: blur(5px) saturate(115%);
    background-color: rgba(98, 111, 123, 0.27) !important;
    border-radius: 25px;

    outline: none;
    box-shadow: inset 3px 3px 5px rgba(255, 255, 255, 0.3), inset -3px -3px 5px rgba(255, 255, 255, 0.2), 8px 8px 10px rgba(2, 2, 2, 0.226) !important;
}

.GlassButton:hover{
    background-color: rgba(27, 32, 39, 0.404) !important;
    transition: 200ms;
}