{% load i18n staticfiles compress %}

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Titillium+Web&display=swap" rel="stylesheet">
        <!-- additional css for each side in css block -->

       <link rel="stylesheet" href="{% static 'css/base.css' %}">

        {%block css %}

        {% endblock %}


        <title>smerge</title>
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
        <link rel="icon" href="{%  static 'icon/favicon.ico' %}" sizes="16x16">
        <link rel="icon" type="image/png" href="{%  static 'icon/favicon-32x32.png' %}" sizes="32x32">
        <link rel="icon" type="image/png" href="{%  static 'icon/favicon-96x96.png' %}" sizes="96x96">



    </head>

    <body>
    {% compress js %}
        <script type="module" src="{% static 'js/main.js' %}"></script>
    {% endcompress %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

        <main>  
            {%block content %}

            {% endblock %}
        </main>



    {% block messages %}
        {% if messages %}
            {% for message in messages %}
              <script>
                  Materialize.toast('{{ message }}', 4000);
              </script>
            {% endfor %}
        {% endif %}
    {% endblock %}

    {%block js %}

    {% endblock %}


    </body>
</html>
