{% load i18n static compress %}

<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Overpass&display=swap" rel="stylesheet">

    <!-- additional css for each side in css block -->

    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">

    {%block css %}

    {% endblock %}


    
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
    <title>SMERGE{{ devAdd }}</title>
    {% if inBeta %}
        {% comment %} <link rel="icon" type="image/svg+xml" href="{%  static 'icon/logo_debug.svg' %}" /> {% endcomment %}
        <link rel="apple-touch-icon" sizes="57x57" href="{%  static 'icon/debug/apple-icon-57x57.png' %}">
        <link rel="apple-touch-icon" sizes="60x60" href="{%  static 'icon/debug/apple-icon-60x60.png' %}">
        <link rel="apple-touch-icon" sizes="72x72" href="{%  static 'icon/debug/apple-icon-72x72.png' %}">
        <link rel="apple-touch-icon" sizes="76x76" href="{%  static 'icon/debug/apple-icon-76x76.png' %}">
        <link rel="apple-touch-icon" sizes="114x114" href="{%  static 'icon/debug/apple-icon-114x114.png' %}">
        <link rel="apple-touch-icon" sizes="120x120" href="{%  static 'icon/debug/apple-icon-120x120.png' %}">
        <link rel="apple-touch-icon" sizes="144x144" href="{%  static 'icon/debug/apple-icon-144x144.png' %}">
        <link rel="apple-touch-icon" sizes="152x152" href="{%  static 'icon/debug/apple-icon-152x152.png' %}">
        <link rel="apple-touch-icon" sizes="180x180" href="{%  static 'icon/debug/apple-icon-180x180.png' %}">
        <link rel="icon" type="image/png" sizes="192x192"  href="{%  static 'icon/debug/android-icon-192x192.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{%  static 'icon/debug/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="96x96" href="{%  static 'icon/debug/favicon-96x96.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{%  static 'icon/debug/favicon-16x16.png' %}">
        <link rel="manifest" href="{%  static 'icon/debug/manifest.json' %}">
    {% else %}
        <link rel="apple-touch-icon" sizes="57x57" href="{%  static 'icon/updated/apple-icon-57x57.png' %}">
        <link rel="apple-touch-icon" sizes="60x60" href="{%  static 'icon/updated/apple-icon-60x60.png' %}">
        <link rel="apple-touch-icon" sizes="72x72" href="{%  static 'icon/updated/apple-icon-72x72.png' %}">
        <link rel="apple-touch-icon" sizes="76x76" href="{%  static 'icon/updated/apple-icon-76x76.png' %}">
        <link rel="apple-touch-icon" sizes="114x114" href="{%  static 'icon/updated/apple-icon-114x114.png' %}">
        <link rel="apple-touch-icon" sizes="120x120" href="{%  static 'icon/updated/apple-icon-120x120.png' %}">
        <link rel="apple-touch-icon" sizes="144x144" href="{%  static 'icon/updated/apple-icon-144x144.png' %}">
        <link rel="apple-touch-icon" sizes="152x152" href="{%  static 'icon/updated/apple-icon-152x152.png' %}">
        <link rel="apple-touch-icon" sizes="180x180" href="{%  static 'icon/updated/apple-icon-180x180.png' %}">
        <link rel="icon" type="image/png" sizes="192x192"  href="{%  static 'icon/updated/android-icon-192x192.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{%  static 'icon/updated/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="96x96" href="{%  static 'icon/updated/favicon-96x96.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{%  static 'icon/updated/favicon-16x16.png' %}">
        <link rel="manifest" href="{%  static 'icon/updated/manifest.json' %}">
        {% comment %} <link rel="icon" href="{%  static 'icon/favicon.ico' %}" sizes="16x16">
        <link rel="icon" type="image/png" href="{%  static 'icon/favicon-32x32.png' %}" sizes="32x32">
        <link rel="icon" type="image/png" href="{%  static 'icon/favicon-96x96.png' %}" sizes="96x96"> {% endcomment %}
    {% endif %}
    

</head>

<body>
    <nav>
        <a href="{% url 'home' %}" class="logo">
            SMERGE{{ devAdd }}
        </a>
        <ul>
            <div class="navlinks">
                <li><a href="{% url 'howto' %}">How To Smerge</a> </li>
                <li><a href="{% url 'impressum' %}">Impressum</a> </li>
                <li><a onclick="window.history.back()">{% trans "Back" %}</a> </li>
            </div>
        </ul>
        
        <div class="burger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
    </nav>

    <img id="adminIcon" width="24px" src="{%  static 'icon/admin.svg' %}" onclick="openHiddenAdmin(event)"></img>
    <script>
        let icon = document.getElementById('adminIcon');
        let timeoutId;
        
        document.addEventListener('mousemove', function(event) {
          if ((event.clientX < 24 && event.clientX > 0) && (event.clientY > window.innerHeight - 24 && event.clientY < window.innerHeight)) {
            timeoutId = setTimeout(function() {
              icon.style.display = 'block';
            }, 5000);
          } else {
            clearTimeout(timeoutId);
            icon.style.display = 'none';
          }
        });

        function openHiddenAdmin(event) {
            if (event.ctrlKey && event.altKey && event.shiftKey) {
              window.location = "/admin/"
            }
          }
        </script>


    {% compress js %}
    <script type="module" src="{% static 'js/main.js' %}"></script>
    {% endcompress %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

    <script type="module" src="{% static 'js/nav-slide.js' %}"></script>
    <main>
        {% if notification_visible %}
            <div class="marquee">
                <span>{{notification_text}}</span>
                <span>{{notification_text}}</span>
                <span>{{notification_text}}</span>
            </div>
        {% endif %}
        {%block content %}

        {% endblock %}
    </main>
    <footer>
        <div class="wave-container">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
                <defs>
                <linearGradient id="gradient" x1="0%" y1="0%" x2="100%" y2="0%">
                    <stop offset="0%" style="stop-color:rgb(195, 158, 193);stop-opacity:1" />
                    <stop offset="100%" style="stop-color:rgb(	7, 106, 171);stop-opacity:1" />
                </linearGradient>
                </defs>
                <path fill="url(#gradient)" fill-opacity="1" d="M0,160L40,181.3C80,203,160,245,240,234.7C320,224,400,160,480,128C560,96,640,96,720,112C800,128,880,160,960,165.3C1040,171,1120,149,1200,154.7C1280,160,1360,192,1400,208L1440,224L1440,320L1400,320C1360,320,1280,320,1200,320C1120,320,1040,320,960,320C880,320,800,320,720,320C640,320,560,320,480,320C400,320,320,320,240,320C160,320,80,320,40,320L0,320Z"></path>
            </svg>
        </div>

        <div class="footer-text">
            <a target="_blank" rel="noopener noreferrer" href="https://github.com/manzanillo/smerge"
                title="{% trans "GitHub" %}"> <i class="tiny material-icons">explore</i>
                {%  trans  "GitHub" %}</a>

            <a href="mailto:tilman.michaeli@tum.de" title="{% trans "Contact" %}"> <i
                    class="tiny material-icons">email</i> {% trans "Contact" %}</a>
        </div>
    </footer>

    {% block messages %}
    {% if messages %}
    {% for message in messages %}
    <script>
        Materialize.toast('{{ message }}', 4000);
    </script>
    {% endfor %}
    {% endif %}
    {% endblock %}

    {%block js %}

    {% endblock %}


</body>

</html>