{% extends "base.html" %}
{% load i18n staticfiles %}

{%block css %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="{% static "css/home.css" %}">
{% endblock %}


{% block content %}
<div class="jumbotron vertical-center">
  <div class="container text-center">
    <h1> Create a new Project</h1>
    <form action="{% url 'create_proj' %}" method="post" enctype="multipart/form-data">
      {% for form in forms %}
        {% csrf_token %}
        {{ form.as_p }}
      {% endfor %}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
{% endblock %}
