{% extends "base.html" %}
{% load i18n staticfiles %}

{%block css %}
<link rel="stylesheet" href="{% static "css/home.css" %}">
{% endblock %}


{% block content %}
<div class="jumbotron vertical-center">
  <div class="container text-center">
    <h1> Create a new Project</h1>
    <form action="{% url 'create_proj' %}" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ proj_form.as_p }}
      <h4> Optional invividual starting Snap! File</h4>
        <p>If you don't upload a file, a standard blank snap project will be your starting point</p>
        <p> If you have already done something and want to continue working on it in smerge, or if you want to provide
            your students with a template, custom blocks or something like that, upload your individual starting
            point here. (You get this file through "File > Export project" in Snap!) </p>
        <p> You can add further initial nodes via drag and drop afterwards</p>
        {% csrf_token %}
        {{ file_form.as_p }}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
{% endblock %}
