{% extends "base.html" %}
{% load i18n static %}

{%block css %}
<link rel="stylesheet" href="{% static "css/error.css" %}">
{% endblock %}


{% block content %}

<div class="container">
  <div class="row">
        <h1 class="center-align">{% trans "No badger has ever dug here!" %}</h1>
        <div class=" text-block">
          <p>{% trans "Your page could not be found. This can have several reasons: " %}</p>
          <dl>
            <li>{% trans "Your page doesn't exist or" %}</li>
            <li>{% trans "your page has moved or" %}</li>
            <li>{% trans "your page was deleted" %}</li>
          </dl>
          <p>{% trans "Maybe these links will help you:" %}</p>
        </div>
    <div class="center-align">
      <a href="{% url 'home' %}" class="btn waves-effect waves-light">
        {% trans "Home" %}
      </a>
      <a href="{% url 'open_proj' %}" id="open-btn" name="open" class="btn waves-effect waves-light">
        {% trans "Open existing" %}
      </a>
      <a href="{% url 'create_proj' %}" id="new-btn" name="new" class="btn waves-effect waves-light">
        {% trans "Create new" %}
      </a>
      <a class="btn waves-effect waves-light" onclick="window.history.back()">
        {% trans "Back" %}
      </a>
    </div>
  </div>
</div>

{% endblock %}