{% extends "base.html" %}
{% load i18n static %}

{%block css %}
<link rel="stylesheet" href="{% static "css/error.css" %}">
{% endblock %}


{% block content %}

<div class="card vertical-center ">
  <div class="row">
      <div class="col s0 m1 l1 xl1"></div>
      <div class="col s12 m6 l7 xl7">
        <h1 class="center-align">Seite nicht gefunden!</h1>
        <div class=" text-block">
          <p>Deine Seite konnte nicht gefunden werden. Das kann verschiedene Gründe haben:</p>
          <dl>
            <li>Deine Seite gibt es nicht, oder</li>
            <li>deine Seite ist umgezogen, oder</li>
            <li>deine Seite wurde gelöscht</li>
          </dl>
          <p>Vielleicht helfen dir diese Links weiter:</p>
        </div>
      </div>

      <div class="col s0 m5 l4 xl4">
        <img class="smerge-image" src="{% static "icon/icon.png" %}" />
      </div>
    </div>
    <div class="center-align">
      <a href="{% url 'home' %}" class="btn waves-effect waves-light">
        Startseite
      </a>
      <a href="{% url 'open_proj' %}" id="open-btn" name="open" class="btn waves-effect waves-light">
        {% trans "Open existing" %}
      </a>
      <a href="{% url 'create_proj' %}" id="new-btn" name="new" class="btn waves-effect waves-light">
        {% trans "Create new" %}
      </a>
      <a class="btn waves-effect waves-light" onclick="window.history.back()">
        Zurück
      </a>
    </div>
  </div>
</div>

{% endblock %}