<!DOCTYPE html>
<html>
<head>
<style>
body {
  background: #ffffff url("../static/icon/icon.png") no-repeat right top fixed;
  background-size: contain;
}
h1{ 
  text-align: left;
  color: lightSeaGreen;
  text-transform:  uppercase;
  text-indent: 50px;
}

h2, p {
  text-align: left;
  color: lightSeaGreen;
}
</style>
</head>


<body>

<h1>500 internal error</h1>
<p>Es scheint so, als ob du dich verlaufen hättest :-(
<p>Wir wissen zwar nicht genau wo du hin wolltest, aber wir können dir vielleicht weiter helfen:</p>

</body>
</html>
