{% extends "base.html" %}
{% load i18n static %}

{%block css %}
<link rel="stylesheet" href="{% static "css/error.css" %}">
{% endblock %}


{% block content %}

<div class="card vertical-center ">
  <div class="row">
      <div class="col s0 m1 l1 xl1"></div>
      <div class="col s12 m6 l7 xl7">
        <h2 class="center-align">In unserem Server ist etwas kaputt...</h2>
        <div class=" text-block">
          <p>Einige Dachstunnel sind eingestürzt. Noch ist unklar, wie lange dies andauern wird.
          Vielleicht sind andere Seiten noch erreichbar:</p>
        </div>
        <div class="center-align">
          <a href="{% url 'home' %}" class="btn waves-effect waves-light">
            Startseite
          </a>
          <a href="{% url 'open_proj' %}" id="open-btn" name="open" class="btn waves-effect waves-light">
            {% trans "Open existing" %}
          </a>
          <a href="{% url 'create_proj' %}" id="new-btn" name="new" class="btn waves-effect waves-light">
            {% trans "Create new" %}
          </a>
          <a class="btn waves-effect waves-light" onclick="window.history.back()">
            Zurück
          </a>
        </div>
      </div>

      <div class="col s0 m5 l4 xl4">
        <img class="smerge-image" src="{% static "icon/icon.png" %}" />
      </div>
    </div>
    
  </div>
</div>

{% endblock %}