{% extends "base.html" %}
{% load i18n static %}

{%block css %}
<link rel="stylesheet" href="{% static "css/error.css" %}">
{% endblock %}


{% block content %}

<div class="container">
  <div class="row">
    <h2 class="center-align">{% trans "Some badger tunnels have collapsed" %}</h2>
    <div class=" text-block">
      <p>{% trans "It is not yet clear how long this will last. Maybe other sites are still accessible:" %}</p>
    </div>
    <div class="center-align">
      <a href="{% url 'home' %}" class="btn waves-effect waves-light">
        {% trans "Home" %}
      </a>
      <a href="{% url 'open_proj' %}" id="open-btn" name="open" class="btn waves-effect waves-light">
        {% trans "Open existing" %}
      </a>
      <a href="{% url 'create_proj' %}" id="new-btn" name="new" class="btn waves-effect waves-light">
        {% trans "Create new" %}
      </a>
      <a class="btn waves-effect waves-light" onclick="window.history.back()">
        {% trans "Back" %}
      </a>
    </div>    
  </div>
</div>

{% endblock %}