{% extends "base.html" %}
{% load i18n staticfiles %}

{%block css %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="{% static "css/home.css" %}">
{% endblock %}


{% block content %}



<div class="jumbotron vertical-center">
    <div class="container text-center">
    <h1>smerge</h1>

    <div>

        <button id="open-btn" name="open" class="btn btn-primary btn-lg center-block">
            Open
        </button>

        <a href="{% url 'create_proj' %}" id="new-btn" name="new" class="btn btn-primary btn-lg center-block">
            Create new
        </a>

    </div>

    </div>
</div>

{% endblock %}
