{% extends "base.html" %}
{% load i18n staticfiles %}

{%block css %}
<link rel="stylesheet" href="{% static "css/home.css" %}">
{% endblock %}


{% block content %}


<div class="vertical-center ">
  <div class="row">
      <div class="col s0 m1 l3 xl3"></div>
      <div class="col s12 m7 l4 xl4">
        <h1 class="center-align">smerge</h1>

        <div class="center-align">

            <a href="{% url 'open_proj' %}" id="open-btn" name="open" class="btn waves-effect waves-light">
                {% trans "Open existing" %}
            </a>

            <a href="{% url 'create_proj' %}" id="new-btn" name="new" class="btn waves-effect waves-light">
                {% trans "Create new" %}
            </a>

        </div>
        <div class="center-align">
            <a href="{% url 'how_to' %}" id="howto-btn" name="how_to" class="waves-effect btn-flat">
                {% trans "How to smerge..." %}
            </a>
        </div>
          
          
      </div>
      <div class="col s0 m3 l2 xl3">
        <img class="smerge-image" src="{% static "icon/icon.png" %}" />
      </div>

  </div>




</div>

<footer>
<p>
        <a target="_blank" rel="noopener noreferrer" href="https://github.com/manzanillo/smerge" title="{% trans "Find us on GitHub" %}">    <i class="tiny material-icons">explore</i> {%  trans  "Find us on GitHub" %}</a>

        <a href="mailto:smerge@i2.cs.fau.de" title="{% trans "Contact us" %}"> <i class="tiny material-icons">email</i> {% trans "Contact us" %}</a>
</p>
</footer>

{% endblock %}




