{% extends "base.html" %}
{% load i18n staticfiles %}

{%block css %}
<link rel="stylesheet" href="{% static "css/home.css" %}">
{% endblock %}


{% block content %}


<div class="vertical-center">
  <div class="">
    <h1 class="center-align">smerge</h1>

    <div class="center-align">

        <a href="{% url 'open_proj' %}" id="open-btn" name="open" class="btn waves-effect waves-light">
            Open existing
        </a>

        <a href="{% url 'create_proj' %}" id="new-btn" name="new" class="btn waves-effect waves-light">
            Create new
        </a>
    </div>

  </div>
</div>

{% endblock %}
