{% extends "base.html" %}
{% load i18n staticfiles %}

{%block css %}
<link rel="stylesheet" href="{% static "css/home.css" %}">
{% endblock %}


{% block content %}
<div class="valign-wrapper row open-box">
  <div class="col card hoverable s10 pull-s1 m6 pull-m3 l4 pull-l4">
      <div class="card-content">
      <p>  {% if proj_password != none %}
        {% blocktrans %} This are your PIN and password, which you need to open your smerge-project. It might be a good idea to keep
        them somewhere, so you wont forget them! {% endblocktrans %}

        {% else %}
        {% blocktrans %} This is your PIN, which you need to open your smerge-project. It might be a good idea to keep
        it somewhere, so you wont forget it! If you wan't to have a password as well, you can change this later on. {% endblocktrans %}

        {% endif %}
      </p>
      <div class="center">
      <p>
         {% trans "PIN:" %} {{proj_pin}}
      </p>
      {% if proj_password != none %}
      <p>
          {% trans "Password:" %} {{proj_password}}
      </p>
      {% endif %}
      </div>
      <div class="right-align">
            <a class="waves-effect waves-light btn align-right", href="{% url 'proj' proj_id=proj_id %}">Ok</a>
      </div>
      </div>
  </div>
</div>


{% endblock %}