{% extends "base.html" %}
{% load i18n static %}

{%block css %}
{% endblock %}


{% block content %}
<div class="container">
  <div class="row">
    <p>  
      {% if proj_password != none %}
        {% trans "This are your PIN and password, which you need to open your Smerge-project." %}
        {% trans " It might be a good idea to keep them somewhere, so you wont forget them!" %}

      {% else %}
        {% trans "This is your PIN, which you need to open your smerge-project." %}
        {% trans "It might be a good idea to keep it somewhere, so you wont forget it!" %}
        {% trans "If you wan't to have a password as well, you can change this later on." %}
      {% endif %}
    </p>

    <div class="center">
      <p>
        {% trans "PIN:" %} {{proj_pin}}
      </p>
      {% if proj_password != none %}
        <p>
          {% trans "Password:" %} {{proj_password}}
        </p>
      {% endif %}
    </div>

    <div class="right-align">
      <a class="waves-effect waves-light btn align-right", href="{% url 'proj' proj_id=proj_id %}">Ok</a>
    </div>
  </div>
</div>


{% endblock %}