{% extends "base.html" %}
{% load i18n staticfiles %}

{%block css %}
<link rel="stylesheet" href="{% static "css/home.css" %}">
<link rel="stylesheet" href="{% static "css/nav.css" %}">
{% endblock %}


{% block content %}
<nav>
  <div class="logo">
    smerge
  </div>
  <ul>
    <div class="navlinks">
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Pricing</a> </li>
      <li><a href="#">Blog</a> </li>
      <li><a href="#">Contact</a> </li>
    </div>
  </ul>
  <div class="burger">
    <div class="line1"></div>
    <div class="line2"></div>
    <div class="line3"></div>
  </div>
</nav>

<script type="module" src="{% static 'js/nav-slide.js' %}"></script>
{% endblock %}