{% extends "base.html" %}
{% load i18n staticfiles %}

{%block css %}
<link rel="stylesheet" href="{% static "css/home.css" %}">
{% endblock %}


{% block content %}
<div class="valign-wrapper row open-box">
  <div class="col card hoverable s10 pull-s1 m6 pull-m3 l4 pull-l4">
    <form action="{% url 'open_proj' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="card-content">
            <span class="card-title">Open an existing project</span>
            <div class="row">
                <div class="input-field col s12">
                    {{ form }}
                </div>
            </div>
        </div>
        <div class="card-action right-align">
            <a onclick="history.back();" class="btn-flat grey-text waves-effect">Back</a>
            <input type="submit" class="btn waves-effect waves-light" value="Submit">
        </div>
    </form>
  </div>
</div>


{% endblock %}
