{% extends "base.html" %}
{% load i18n %}


{% block content %}

<h1>Project {{proj_id}}</h1>
<div id="cy" style="height:500px"></div>
<div class="fixed-action-btn" style="z-index:9999">
    <a class="btn-floating btn-large red">
        <i class="large material-icons">mode_edit</i>
    </a>
    <ul>
        <li><a id="merge"   class="btn-floating red"><i class="material-icons">call_merge</i></a></li>
        <li><a id="publish" class="btn-floating green"><i class="material-icons">publish</i></a></li>
    </ul>
</div>

{% endblock %}
