{% extends "base.html" %}
{% load i18n staticfiles %}


{% block css %}
<link rel="stylesheet" href="{% static "css/cytoscape.css" %}">
<link href="https://cdnjs.cloudflare.com/ajax/libs/qtip2/2.2.0/jquery.qtip.min.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="{% static "css/proj.css" %}">
{% endblock %}


{% block content %}

<h1 class="project-heading" data-proj-id={{proj_id}}>
    {{proj_name}}
    <br/>
    <div class="project-description"> {{proj_description}}</div>
</h1>
<div id="drop-zone">
    <div id="drop-info">
        <p class="info-message">{% trans "Drop here!" %}</p>
    </div>
    <div id="cy" style="height:500px"></div>
</div>
<div class="fixed-action-btn" style="z-index:9999">
    <a id="cancel-merge" title="{% trans "cancel merge" %}" class="btn-floating waves-effect waves-light btn-large red hide">
        <i class="large material-icons">close</i>
    </a>

    <a id="merge" title="{% trans "merge" %}" class="btn-floating waves-effect waves-light btn-large">
        <i class="large material-icons">call_merge</i>
    </a>
</div>

{% endblock %}






{% block js %}

<script src="{% static "js/dist/timeago.min.js" %}"></script>
<script src="{% static "js/drag-n-drop.js" %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/cytoscape/3.2.8/cytoscape.js"></script>

<!-- for testing with local version of cytoscape.js -->
<!--<script src="../cytoscape.js/build/cytoscape.js"></script>-->

<script src="https://cdn.rawgit.com/cpettitt/dagre/v0.7.4/dist/dagre.min.js"></script>
<script src="https://cdn.rawgit.com/cytoscape/cytoscape.js-dagre/1.5.0/cytoscape-dagre.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/qtip2/2.2.0/jquery.qtip.min.js"></script>
<script src="https://cdn.rawgit.com/cytoscape/cytoscape.js-qtip/2.7.0/cytoscape-qtip.js"></script>

<!-- Load appplication code at the end to ensure DOM is loaded -->
{% include "tree/cytoscape.html" %}


{% endblock %}
