{% extends "base.html" %}
{% load i18n static %}


{%block css %}
<link rel="stylesheet" href="{% static "css/home.css" %}">
{% endblock %}


{% block content %}
<div class="container">
  <div class="row">
    <form action="{% url 'reset_passwd' token %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <p>{% trans "Reset your password." %}</p>
        <div class="row">
            <div class="input-field col s12">
                {{ form.new_password.label_tag }}
                {{ form.new_password }}
            </div>
            <div class="input-field col s12">
                {{ form.new_password_repeated.label_tag }}
                {{ form.new_password_repeated }}
            </div>
        </div>
        <div class="right-align">
            <input type="submit" class="btn waves-effect waves-light right" value="{% trans "Submit" %}">
        </div>
      </form>
  </div>
</div>

{% endblock %}