html, body, .open-box {
    height: 100%;
}

body{
    display: block;
}

h1 {
    text-indent: 50px;
    padding-bottom: 0.3em;
    line-height: 1.2;
    border-bottom: 1px solid rgb(238, 238, 238);
    font-size: 2rem;
}