html,
body {
  height: 100%;
}

ul.dots {
  list-style-type: circle;
}

.text-block {
  font-size: 1.4rem;
  font-weight: 400;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.btn {
  margin: 1rem;
  margin-top: 0.2rem;
  border: 5px;
  border-color: white;
}

.vertical-center {
  width: 90%;
  left: 5%;
}
.card {
  position: relative;
  margin: 0.5rem 0 1rem 0;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 2px 4px rgba(0, 0, 0, 0.14);
}
