html, body, .open-box {
  height: 100%;
}

.smerge-image {
    height: 250px;
    display:  block;

}


#howto-btn {
    text-transform: none;
    margin-top: .5em;
}

@media only screen and (max-width: 600px) {
    .smerge-image {
        display: none;
    }
}
