:root {
    --nav-heigth: 60px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav {
    height: var(--nav-heigth);
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid rgba(4, 82, 82, 0.767);
    background-color: rgb(30, 80, 80);
    position: relative;
}

.logo {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 1.25em;
    letter-spacing: 0.15em;
    position: absolute;
    left: 10%
}

nav ul {
    position: absolute;
    right: 5%;
}

.navlinks {
    right: 10%;
}

nav a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 0.75em;
}

.burger {
    display: none;
    cursor: pointer;
    position: absolute;
    right: 5%;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
    justify-content: space-around;
}

@media screen and (max-width:760px) {
    body {
        overflow-x: hidden;
    }

    nav {
        position: static;
    }

    nav ul{
        position: static;
    }

    .navlinks {
        position: absolute;
        right: 0;
        top: var(--nav-heigth);
        height: 90%;
        width: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgba(4, 82, 82, 0.767);
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .navlinks li {
        opacity: 0;
    }
    .burger {
        display: block;
    }
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}