.project-heading{
    margin-left: 10px;
    font-size: 4.2rem;
}

.project-description{
    line-height: 100%;
    word-wrap: break-word;
    margin-left: 2px;
    font-size: 1.2rem;
    width: 30%;
    margin-top:10px;

}

.trend-indicator {
    float: left;
}


.info-message {
    padding: 10%;
}

#drop-info {
    display: none;
    position: absolute;
    text-align: center;
    top: 37.5%;
    left: 25%;
    font-size: 50px;
    color: gray;
    border-style: dashed;
    width: 50%;
    height: 25%;
    z-index: 1000;
    border-radius: 20px;
}




.smerge-menu-btn {
    z-index: 1050;
    position: fixed;
    right: 23px;
    top: 23px;
    padding-top: 15px;
    margin-bottom: 0;
}

.smerge-menu-btn > a {
    color: gray;
}


#menu {
    background-color: #fff;
}

.smerge-menu-modal-footer {
    background-color: #fff !important;
    margin-top: -10px;
}