.project-heading{
    margin-left: 10px;
    font-size: 4.2rem;
}

.project-description{
    line-height: 100%;
    word-wrap: break-word;
    margin-left: 2px;
    font-size: 1.2rem;
    width: 30%;

}
