<script>
var cy = window.cy = cytoscape({
  container: document.getElementById('cy'),
  minZoom: 0.5,
  maxZoom: 8,
  autounselectify: false,
  selectionType: 'single',
  layout: {
    name: 'dagre'
  },

  style: [
    {
      selector: 'node',
      style: {
        'content': 'data(description)',
        'text-margin-x': 2,
        'text-opacity': 0.5,
        'text-valign': 'center',
        'text-halign': 'right',
        'background-color': '#386561'
      }
    },
    {
      selector: 'edge',
      style: {
        'curve-style': 'bezier',
        'width': 4,
        'target-arrow-shape': 'triangle',
        'line-color': '#cab584',
        'target-arrow-color': '#cab584'
      }
    },
    {
      selector: ':selected',
      style: {
        'background-color': '#26a69a',
      }
    }
  ],


// #open: locale media doesn't work
  elements: {
    nodes: [
    {% for ele in files  %}
    { data: { id: '{{ele.id}}' , href: '{{ele.file_url}}', description: '{{ele.description}}', timestamp : '{{ele.timestamp}}' } },
    {% endfor %}
    ],
    edges: [
    {% for ele in files  %}
        {% for anc in ele.ancestors  %}
        { data: { source: '{{anc}}', target: '{{ele.id}}' } },
        {% endfor %}
    {% endfor %}
    ]
  },
});


// Doubleclick
var tappedBefore = false;
var tappedTimeout;
cy.on('tap', 'node', function(event) {
  var tappedNow = event.cyTarget;
  if (tappedTimeout && tappedBefore) {
    clearTimeout(tappedTimeout);
  }
  if(tappedBefore === tappedNow) {
    this.trigger('dblclick', event.target);
    tappedBefore = null;
  } else {
    tappedTimeout = setTimeout(function(){ tappedBefore = null; }, 300);
    tappedBefore = tappedNow;
  }
});


// Open in Snap on longtap or doubleclick in new tab
cy.on('taphold dblclick', 'node', function(evt){
        if (this.data('href')){
        //ADJUST FOR CERTAIN SERVERSETTINGS
            var url = 'https://snap.berkeley.edu/snapsource/snap.html#open:' + window.location.origin + '/smerge'+ this.data('href');
            try { // your browser may block popups
                window.open(url,'_blank');
            } catch(e){ // fall back on url change
                window.location.href = url;
            }
        }
    }
);


// Show tooltip on hover
cy.on('mouseover', 'node', function(evt){
  this.qtip({
      content: 'id: ' + this.data('id') + '<br/>' + 'smerged: ' + timeago().format(this.data('timestamp')),
      position: {
        my: 'top center',
        at: 'bottom center'
      },
      style: {
        classes: 'qtip-bootstrap',
        tip: {
          width: 16,
          height: 8
        }
      },
      show: {
            event: evt.type,
            ready: true,
            solo: true
         },
         hide: {
            event: 'mouseout unfocus'
         }
  });

});


var findOptimalPosition = function(elements){
    var xPositions = [];
    var yPositions = [];
    elements.each(function(ele){
       xPositions.push(ele.position('x'));
       yPositions.push(ele.position('y'));
    });
    return [Math.min(...xPositions)+(Math.max(...xPositions)-Math.min(...xPositions))/2, Math.max(...yPositions)+75];
}


var toggleMerge = function(){

    if (cy.selectionType() == 'single'){
        cy._private. selectionType = 'additive';
        $("#merge").toggleClass('red green');
        $("#merge>i").text('done');
        $("#cancel-merge").toggleClass('hide');
    }
    else {
        cy._private. selectionType = 'single';
        $("#merge").toggleClass('green red');
        $("#merge>i").text('call_merge');
        $("#cancel-merge").toggleClass('hide');
        cy.$(':selected').unselect();
    }

}

$('#merge').mousedown(function (evt) {

    if (cy.selectionType() == 'single'){
        toggleMerge();
    }
    else {
        var selectedElements = cy.$(':selected');

        if (selectedElements.length > 0){
            console.log(selectedElements);

            var merge_url = 'merge/{{proj_id}}';
            var first = true;
            selectedElements.forEach(function(ele){
                if (first){
                    merge_url += '?';
                    first = false;
                }
                else {
                    merge_url += '&';
                }
                merge_url += 'file='+ele.data('id');
            });

            var merged_node;
            $.ajax({
                url: merge_url,
                cache: false,
                success: function(new_node) {

                    var positions = findOptimalPosition(selectedElements);

                    var eleNeu = cy.add({
                        group: "nodes",
                        data: { id: new_node.id, href: new_node.file_url },
                        position: { x: positions[0], y: positions[1] }
                    });

                    selectedElements.forEach(function(ele){
                       cy.add ({
                            group: "edges",
                            data: { source: ele.data('id'), target: new_node.id }
                        });
                    });
                },
                error: function(){
                    console.log('merge did not work');
                }
            });
        }

        toggleMerge();
    }
});

$('#cancel-merge').mousedown(toggleMerge);

</script>
