
.react-kanban-board {
  padding: 5px;
}

.react-kanban-card {
  border-radius: 3px;
  background-color: #fff;
  padding: 10px;
  margin-bottom: 7px;
}

.react-kanban-card--dragging {
  box-shadow: 2px 2px grey;
}

.react-kanban-column {
  padding: 15px;
  border-radius: 9px;
  background-color: #eee;
  margin: 5px;
}

.card-color-picker .react-colorful {
  padding: 15px;
  height: 80px;
  width: 100%;
}

.card-color-picker .react-colorful__saturation {
  visibility: hidden;
}

.card-color-picker .react-colorful__hue {
  order: -1;
  border-radius: 15px;
}
